<div class="container">
  <h1 class="my-4">Xem Đơn Mua Hàng</h1>

  <h2 class="mb-4">Khách Hàng: John Doe</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Mã Đơn Hàng</th>
      <th>Ngày Đặt Hàng</th>
      <th>Tổng Tiền</th>
      <th>Trạng Thái</th>
      <th>Xem Chi Tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>DH001</td>
      <td>2023-10-25</td>
      <td>$50.00</td>
      <td>Đã Giao Hàng</td>
      <td>
        <a href="order_detail.html?id=DH001" class="order-detail-link"
        >Xem</a
        >
      </td>
    </tr>
    <tr>
      <td>DH002</td>
      <td>2023-10-20</td>
      <td>$35.00</td>
      <td>Chờ Xử Lý</td>
      <td>
        <a href="order_detail.html?id=DH002" class="order-detail-link"
        >Xem</a
        >
      </td>
    </tr>
    <!-- Thêm các hàng đơn hàng khác ở đây -->
    </tbody>
  </table>

  <a href="index.html" class="btn btn-primary">Quay lại trang chủ</a>
</div>
