<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid" [src]="product.imagesDTOList[0].imageName" alt="ProductS">
        <div class="row my-3 previews" style="    display: flex;justify-content: space-around;">
          <div class="col-md-3" *ngFor="let img of product.imagesDTOList">
            <img class="w-100" [src]="img.imageName" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại: {{product.categoryDTO.name}}
        </div>
        <div class="product-title text-bold my-3">
          {{product.name}}
        </div>


        <div class="price-area my-4">
          <div class="old-price"><del>{{product.listedPrice}}</del></div>
          <div class="new-price"><span>{{product.price}} đ</span></div>
        </div>

      </div>

<!--      size-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Size</p>
        <div class="d-flex">
          <div class="selection" style="border: 1px solid" *ngFor="let s of listSize" [class.red-selected]="s.isSelected">
            <input type="radio" [id]="'size' +s.id" [name]="'size'" [value]="s.id" (change)="selectSize($event)" [disabled]="s.disabled">
            <label [for]="'size' +s.id" class="radio-label" [style.opacity]="s.disabled ? '0.5' : '1'" [style.cursor]="s.disabled ? 'not-allowed' : 'pointer'">{{s.sizeNumber}}</label>
          </div>
          <button *ngIf="sizeSelected" (click)="refresh('size')"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
      </div>


      <!--      màu sắc-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Màu Sắc</p>
        <div class="d-flex">
          <div class="selection" *ngFor="let c of listColor" style="border: 1px solid" [class.red-selected]="c.isSelected">
            <input type="radio" [id]="'color' + c.id" name="color" [value]="c.id" (change)="selectColor($event)" [disabled]="c.disabled">
            <label [for]="'color' + c.id" class="radio-label" [style.opacity]="c.disabled ? '0.5' : '1'" [style.cursor]="c.disabled ? 'not-allowed' : 'pointer'">{{c.name}}</label>
          </div>
          <button *ngIf="colorSelected" (click)="refresh('color')"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
      </div>

<!--      Số lượng-->
      <br>
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Số lượng :{{(getProductDetailQuantity() == 0 || getProductDetailQuantity()== null) ? product.totalQuantity : getProductDetailQuantity()}}</p>
      </div>
      <div class ="btn-groups">
        <button class = "add-cart-btn" (click)="addToCart(product.id)"><i class = "fas fa-shopping-cart"></i>add to cart</button>
        <button class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-details my-2">
      <p class="details-title text-color mb-1">Thông Tin Chi Tiết</p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi
        odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
    </div>
    <div class="product-details my-2">
      <p class="details-title text-color mb-2">Hãng</p>
      <ul>
        <li>Cotton</li>
        <li>Machine-wash</li>
      </ul>
    </div>
    <div class="product-details my-2">
      <p class="details-title text-color mb-2">Chất Liệu</p>
      <ul>
        <li>Cotton</li>
        <li>Machine-wash</li>
      </ul>
    </div>
  </div>
</div>



<div class="container similar-products my-4">
  <hr>
  <p class="display-5">Sản Phẩm Tương Tự</p>

  <div class="row">
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh5.jpg" alt="Preview">
        <p class="title">Lovely black dress</p>
        <p class="price">$100</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh6.jpg" alt="Preview">
        <p class="title">Lovely Dress with patterns</p>
        <p class="price">$85</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh7.jpg" alt="Preview">
        <p class="title">Lovely fashion dress</p>
        <p class="price">$200</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh8.jpg" alt="Preview">
        <p class="title">Lovely red dress</p>
        <p class="price">$120</p>
      </div>
    </div>
  </div>
</div>

