<div>
  <div style="border-bottom: 1px solid">
    <h5>Địa chỉ của tôi</h5>
  </div>
  <div style="display: flex;justify-content: space-between; border-bottom: 1px solid">
    <div style="max-width: 300px; display: flex">
      <input type="radio" name="address" style="transform: scale(1.5);">
      <p style="margin-left: 10px; margin-top: 10px">1 Ngách 63/30 Lê Đức Thọ
        Phường Mỹ Đình 2, Quận Nam Từ Liêm, Hà Nội</p>
    </div>
    <div style="margin-top: 10px">
      <button type="button" class="button-capnhat" (click)="openPopupUpdate()">Cập nhật</button>
    </div>
  </div>
  <br>
  <div>
    <button type="button" class="button-capnhat" (click)="openPopup()">Thêm mới địa chỉ</button>
  </div>

</div>
