<main class="page">
  <div class="container">
    <br>
    <h1 style="text-align: center; color: #2f7476 ">Giỏ Hàng</h1>
    <br>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
<!--          <th scope="col"><input type="checkbox" name="" [(ngModel)]="selectAll" (click)="toggleSelectAll()"></th>-->
          <th scope="col"><mat-checkbox color="primary" value="{{selectAll}}" [checked]="selectAll" (change)="selectAll = ! selectAll;toggleSelectAll()"></mat-checkbox></th>
          <th scope="col">Sản Phẩm</th>
          <th scope="col">Phân loại hàng</th>
          <th scope="col">Giá tiền</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Thành tiền</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of listCart; let i = index">
          <th scope="row">
            <mat-checkbox color="primary" value="{{c.selected}}" [checked]="c.selected" [(ngModel)]="checkboxStatus[i]" (change)="c.selected = !c.selected;toggleCheckbox(i)"></mat-checkbox>
          </th>
          <td><img width="80px" height="80px" src="{{c.imageName}}" alt=""> <span class="productName" title="{{c.productName}}">{{c.productName}}</span></td>
          <td><div><span style="font-weight: bold">Color:</span> {{c.productDetailDTO.colorDTO.name}}</div>
            <div><span style="font-weight: bold">Size: </span> {{c.productDetailDTO.sizeDTO.sizeNumber}}</div>
          </td>
          <td><del>{{c.productDetailDTO.listedPrice | number:'1.0-0'}} đ</del>
            <span style="color: red; margin-left: 5px">{{c.productDetailDTO.price | number:'1.0-0'}} đ</span></td>
          <td><button (click)="giamSoLuong(c)">-</button> {{c.quantity}} <button (click)="tangSoLuong(c)">+</button></td>
          <td>{{c.productDetailDTO.price * c.quantity | number:'1.0-0'}} đ</td>
          <td><button type="button" class="btn -btn-danger" (click)="deleteItem(c)"><i style="color: red" class="fa-solid fa-trash"></i></button></td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Tiết kiện</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{totalMoney | number:'1.0-0'}} đ</th>
          <td>{{totalSaveMoney | number:'1.0-0'}} đ</td>
          <td><button class="btn btn-success" [disabled]="!disableCheckOut" (click)="checkOut()">Check out</button></td>
<!--          <td>@mdo</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
