<div class="container">
  <div class="row">
    <h3>Danh Sách Sản Phẩm</h3>
    <table class="table">
      <thead style="border: 1px ">
      <tr>
        <!--          <th scope="col"><input type="checkbox" name="" [(ngModel)]="selectAll" (click)="toggleSelectAll()"></th>-->
        <th scope="col">STT</th>
        <th scope="col">Sản Phẩm</th>
        <th scope="col">Phân loại hàng</th>
        <th scope="col">Giá tiền</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Thành tiền</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of listCart; let i = index">
        <th scope="row">
          {{i + 1}}
        </th>
        <td><img width="80px" height="80px" src="{{c.imageName}}" alt=""> <span class="productName" title="{{c.productName}}">{{c.productName}}</span></td>
        <td><div><span style="font-weight: bold">Color:</span> {{c.productDetailDTO.colorDTO.name}}</div>
          <div><span style="font-weight: bold">Size: </span> {{c.productDetailDTO.sizeDTO.sizeNumber}}</div>
        </td>
        <td><del>{{c.productDetailDTO.listedPrice | number:'1.0-0'}} đ</del>
          <span style="color: red; margin-left: 5px">{{c.productDetailDTO.price | number:'1.0-0'}} đ</span></td>
        <td> {{c.quantity}}</td>
        <th style="color: red">{{c.productDetailDTO.price * c.quantity | number:'1.0-0'}} đ</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Tiết kiệm</th>
        <th>Tổng Tiền</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th >{{totalSaveMoney | number:'1.0-0'}} đ</th>
        <th style="color: red">{{totalMoney | number:'1.0-0'}} đ</th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Thông tin giao hàng</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Họ và Tên</label>
            <input type="text" class="form-control" [(ngModel)]="order.receiver" id="firstName" placeholder="" required>
<!--            <div class="invalid-feedback">-->
<!--              Valid first name is required.-->
<!--            </div>-->
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">SDT</label>
            <input type="text" class="form-control" id="lastName" placeholder="" [(ngModel)]="order.receiverPhone" required>
<!--            <div class="invalid-feedback">-->
<!--              Valid last name is required.-->
<!--            </div>-->
          </div>


          <div class="col-12">
            <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
          <div class="col-sm-12">
            <label for="" class="form-label" style="font-weight: bold">Địa chỉ nhận hàng</label>
            <div style="display: flex; justify-content: space-between">
              <p>1 Ngách 63/30 Lê Đức Thọ, Phường Mỹ Đình 2, Quận Nam Từ Liêm, Hà Nội
                Mặc Định</p>
              <button class="button-thaydoi" (click)="openPopupAddress();">Thay đổi</button>
            </div>
          </div>
        </div>
        <hr class="my-4">

        <div class="voucher">
          <h6>Voucher giảm giá:</h6>
          <span>Quang Hưng</span>
          <button class="btn btn-light">Thêm</button>
        </div>
        <br>
        <div>
            <label class="form-check-label">Phí ship: </label> <input style="margin-left: 180px" type="text" value="{{shipFee | number:'1.0-0'}} đ" disabled>
          </div>
          <div style="margin-top: 10px">
            <label class="form-check-label">Tổng tiền phải thanh toán: </label> <input style="margin-left: 50px" type="text" value="{{totalMoneyPay | number:'1.0-0'}} đ" disabled>
          </div>

        <hr class="my-4">

        <h4 class="mb-3">Phương thức thanh toán</h4>

        <div class="my-3">
            <input id="a" name="paymentMethod" type="radio" class="form-check-input" [value]="0" [(ngModel)]="checkChoicePay" checked required value="">
            <label class="form-check-label" for="a">Thanh Toán khi nhận hàng</label>
            <input style="margin-left: 30px" id="b" name="paymentMethod" type="radio" [value]="1" [(ngModel)]="checkChoicePay" class="form-check-input" required>
            <label class="form-check-label" for="b">Thanh toán online</label>
        </div>

        <div class="my-3" *ngIf="checkChoicePay == 1">
          <button style="background: #fff; border-radius: 10px; border: none"><img style="width: 43px; height: 43px" src="../../../assets/image/vnPay.png" alt=""></button>
        </div>

        <button class="w-100 btn btn-danger btn-lg" type="submit" (click)="thanhToan();">Mua Hàng</button>
      </form>
    </div>
  </div>
</div>
