<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voucher Details</title>
</head>
<body>
<h1>Voucher Details</h1>
<table>
  <tr>
    <th>Name:</th>
    <td>{{voucher.name}}</td>
  </tr>
  <tr>
    <th>Start Date:</th>
    <td>{{voucher.startDate}}</td>
  </tr>
  <tr>
    <th>End Date:</th>
    <td>{{voucher.endDate}}</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{voucher.description}}</td>
  </tr>
  <tr>
    <th>Conditions:</th>
    <td>{{voucher.conditionApply}}</td>
  </tr>
  <tr>
    <th>Voucher Type:</th>
    <td>{{voucher.voucherType}}</td>
  </tr>
  <tr>
    <th>Reduced Value:</th>
    <td>{{voucher.reducedValue}}</td>
  </tr>
  <tr>
    <th>Quantity:</th>
    <td>{{voucher.quantity}}</td>
  </tr>
</table>
</body>
</html>
