<h1 mat-dialog-title>UPDATE COLOR FORM</h1>
<div mat-dialog-content class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Name Color</mat-label>
    <input matInput placeholder="Name Color">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Create Date</mat-label>
    <input type="date" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
  <button mat-raised-button color="primary" >UPDATE</button>
</div>
