<div class="login_form">
  <div class="left">
    <img src="/assets/image/logshoes.png">
  </div>

  <div class="right">
    <h1>Sign Up</h1>

    <form action="#" method="post">
      <p>User Name</p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="user" placeholder="User Name" class="input">
      </div>

      <p>Full Name</p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="user" placeholder="Full Name" class="input">
      </div>

      <p>Email</p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="user" placeholder="Email" class="input">
      </div>
      <p>SDT</p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="user" placeholder="0345678..." class="input">
      </div>

      <p class="passworg_tag"> Create Password</p>
      <div class="password">
        <i class="fa-solid fa-lock"></i>
        <input type="text" name="password" placeholder="Password">
      </div>

      <p class="passworg_tag"> Confirm Password</p>
      <div class="password">
        <i class="fa-solid fa-lock"></i>
        <input type="text" name="password" placeholder="Password">
      </div>
      <div class="d-flex back-to-signIn">
        <a href="/login">Back To Sign In</a>
      </div>


      <button type="submit">Submit</button>
      <div class="loging_icon">
        <a href="#"><img src="assets/image/google.png"></a>
        <a href="#"><img src="assets/image/facebook.png"></a>
        <a href="#"><img src="assets/image/twitter.png"></a>
      </div>

    </form>

  </div>

</div>
