<div class="container">
  <h1 style="text-align: center">Sneaker</h1>
  <div class="danhmuc" style="display: flex;">
    <div class="dropdown">
      <p>Lọc theo Loại</p>
      <ul class="list-group" style="width: 240px;">
        <li class="list-group-item">
          <input  type="checkbox" value=""  > Chạy Bộ
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value=""  > Bóng Rổ
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Tennis
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Trượt Ván
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Tập luyện
        </li>

      </ul>
      <br>
      <p>Lọc theo giá</p>
      <ul class="list-group" style="width: 240px;">
        <li class="list-group-item">
          <input  type="radio" name="listGroupRadio" value="" > 0 -> 1.000.000đ
        </li>
        <li class="list-group-item">
          <input  type="radio" name="listGroupRadio" value=""> 1.000.000 -> 3.000.000đ
        </li>
        <li class="list-group-item">
          <input  type="radio" name="listGroupRadio" value="">  3.000.000 -> 7.000.000đ
        </li>
        <li class="list-group-item">
          <input  type="radio" name="listGroupRadio" value="">  7.000.000 -> 15.000.000đ
        </li>
        <li class="list-group-item">
          <input  type="radio" name="listGroupRadio" value="">  Trên 15.000.000đ
        </li>
      </ul>
      <br>
      <p>Lọc theo kích thước</p>
      <ul class="list-group" style="width: 240px;">
        <li class="list-group-item">
          <input  type="checkbox" value=""  > 33
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value=""  > 34
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 35
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 36
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 37
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 38
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 39
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 40
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 41
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 42
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 43
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 44
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > 45
        </li>
      </ul>
      <br>
      <p>Lọc theo thương hiệu</p>
      <ul class="list-group" style="width: 250px;">
        <li class="list-group-item">
          <input  type="checkbox" value="" > Nike
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Jordan
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Adidas
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Converse
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > Dior
        </li>
        <li class="list-group-item">
          <input  type="checkbox" value="" > MLB
        </li>
      </ul>
    </div>

    <div class="img">
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
    </div>
    <div class="img1">
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
    </div>
    <div class="img2">
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
    </div>
    <div class="img3">
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="./assets/image/anh1.jpeg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">2.999.000đ</h5>
          <p class="card-text">Nike Air Force 1</p>
          <a href="#" class="btn btn-primary">Add To Card</a>
        </div>
      </div>
    </div>

  </div>
</div>
