<div class="staff-list-body">
  <div class="d-flex">
    <h1 class="title">Tài Khoản Nhân Viên</h1>
    <button type="button" class="btn btn-light btn-add-order">Thêm Tài Khoản</button>
  </div>
  <div class="order-list-body mt-3">
    <div class="oder-body-menu">
      <div class="order-sreach">
        <form class="row g-3">
          <div class="d-flex">
            <label class="col-form-label">Search</label>
            <div class="col-sm-2">
              <input type="password" class="form-control">
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="order-table">
      <div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Create Date</th>
            <th scope="col">User Name</th>
            <th scope="col">Pass Word</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

